// app global css in SCSS form
.q-table th {
  font-size: 18px;
}
.q-table tbody td {
  font-size: 18px;
}
.q-px-lg {
  padding-left: 15px;
}
.q-card {
  width: 450px;
}
.card-img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
